*{
	box-sizing: border-box;
}
body {
	position: relative;
}
.navbar-collapse {
	justify-content: space-between !important;
}
section {
	padding: 80px 0;
}
.container {
	margin: 0 75px;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}
