.products .card-img-top{
	max-height: 222px;
	/* max-width: 222px; */
	/* height: 222px !important; */
	width: 100% !important;
	object-fit: contain;
	object-position: center center;
	margin: 0 auto;

}
.card{
	width: calc(25% - 20px);
	margin-bottom: 20px;
}
a.card-title-link {
	color: #3d3a3a !important;
	text-decoration: none;
}
.list-group { 
	position: relative;
}
.save-product-btn {
	position: absolute;
	right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.save-product-btn i svg{
	color: #ff0000a6;
}
.save-product-btn, .save-product-btn i {
	display: flex;
	align-items: center;
}

.save-product-btn:hover i svg {
	color: #000000;
}


/* CART PRODUCTS PROPERTIES */

.cart-products {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cart-products .card {
	width: 100%;
}
h1.cart-title {
	text-align: center;
	margin-top: 50px;
}
/* CART PRODUCTS PROPERTIES */